@model IEnumerable<net_shop_core.Models.ProductsModel>
@using AppHelpers.App_Code

@{
    ViewData["Parent-0"] = "Account";
    ViewData["Parent-1"] = "";

    ViewData["Title"] = "Manage Posts";
}


<!-- Account Style CSS -->
@await Html.PartialAsync("~/Views/Shared/AccountLayout/_AccountStyle.cshtml")


<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    @await Html.PartialAsync("~/Views/Shared/AccountLayout/_LeftSideBar.cshtml")
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- //Top menu item -->
        @await Html.PartialAsync("~/Views/Shared/AccountLayout/_NavBarTop.cshtml")


        <div class="container-fluid">
            <h1 class="mt-4">
                Manage Posts
            </h1>

            <!-- //Breadcrump -->
            @await Html.PartialAsync("~/Views/Shared/_BreadCrumb.cshtml")


            <!--//Action Messages-->
            @await Html.PartialAsync("~/Views/Shared/_ProcessMessage.cshtml")

            <div class="row">
                <div class="col-12">
                    <a href="~/Account/NewPost" class="float-right m-2">
                        <i class="fas fa-plus"></i> New Post
                    </a>
                </div>
                @if (Model.Count() > 0)
                {
                    <div class="col-12">
                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Manage Posts</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable">
                                        <thead>
                                            <tr>
                                                <th class="th-sm">
                                                    @Html.DisplayNameFor(model => model.ProductName)
                                                </th>
                                                <th class="th-sm">
                                                    @Html.DisplayNameFor(model => model.ProductDescription)
                                                </th>
                                                <th class="th-sm">
                                                    Product Image
                                                </th>
                                                <th class="th-sm">
                                                    @Html.DisplayNameFor(model => model.ProductPrice)
                                                </th>
                                                <th class="th-sm text-center">
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="th-sm">
                                                    @Html.DisplayNameFor(model => model.ProductName)
                                                </th>
                                                <th class="th-sm">
                                                    @Html.DisplayNameFor(model => model.ProductDescription)
                                                </th>
                                                <th class="th-sm">
                                                    Product Image
                                                </th>
                                                <th class="th-sm">
                                                    @Html.DisplayNameFor(model => model.ProductPrice)
                                                </th>
                                                <th class="th-sm text-center">
                                                    Action
                                                </th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @item.ProductName
                                                    </td>
                                                    <td style="width:30em; max-height: 30em;">
                                                        @Html.Raw(item.ProductDescription)
                                                    </td>
                                                    <td class="text-center">
                                                        <img src="~/files/@ProductsHelper.GetProductImageLink(item.AccountID, item.ProductID)" class="rounded" alt="@item.ProductName" width="120" height="150">
                                                    </td>
                                                    <td>
                                                        @ProductsHelper.GetCurrencySymbol(item.Currency) @item.ProductPrice
                                                    </td>
                                                    <td class="center-container">
                                                        <div class="dropdown">
                                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                                Action
                                                            </button>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="@Url.Action("Details", "Shop", new { id = item.UniqueProductName })" target="_blank">
                                                                    <i class="fas fa-eye text-success"></i> View
                                                                </a>
                                                                <a class="dropdown-item" href="@Url.Action("EditPost", "Account", new { id = item.ProductID })">
                                                                    <i class="fas fa-edit text-info"></i> Edit
                                                                </a>
                                                                <a class="dropdown-item" href="@Url.Action("AddProductColors", "Account", new { id = item.ProductID })">
                                                                    <i class="fas fa-palette text-danger"></i> Update Colors
                                                                </a>
                                                                <a class="dropdown-item" href="@Url.Action("AddProductSizes", "Account", new { id = item.ProductID })">
                                                                    <i class="far fa-ruler-triangle"></i> Update Sizes
                                                                </a>
                                                                <a class="dropdown-item" href="@Url.Action("UpdateProductStock", "Account", new { id = item.ProductID })">
                                                                    <i class="fas fa-sigma"></i> Update Stock
                                                                </a>
                                                                <a class="dropdown-item delete-product" href="#" id="@item.ProductID">
                                                                    <i class="fas fa-trash-alt text-danger mr-1"></i> Delete
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <!-- /#page-content-wrapper -->

</div>


<!-- Account Modals -->
@await Html.PartialAsync("~/Views/Shared/AccountLayout/_AccountModals.cshtml")

