@model net_shop_core.Models.ProductsModel

@{
    ViewData["Parent-0"] = "Account";
    ViewData["Parent-1"] = "ManagePosts";
    ViewData["Title"] = "New Post";
}

<!-- Account Style CSS -->
@await Html.PartialAsync("~/Views/Shared/AccountLayout/_AccountStyle.cshtml")


<script>
    $(function () {
        $('#newProductForm').on('keydown', '#product_price, #precious_price, #number_in_stock, #whole_sale_quantity', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || /65|67|86|88/.test(e.keyCode) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
    })

    //description counter
    const max = 500;
    function countCharDescription(val) {
        const len = val.value.length;
        if (len >= max) {
            val.value = val.value.substring(0, max);
        } else {
            $('#charNumDescription').text((max - len) + " Remaining");
        }
    };

    //Limit file upload buttons to n number
    function checkUpLimit() {
        const totalNum = $('.uploadFile').length;
        if (totalNum > 3) {
            $('.imgAdd').css({ pointerEvents: "none" });

            $('#add-image').removeClass('fa fa-plus');
            $('#add-image').addClass('fas fa-location-slash text-danger');
        }
        else {
            $('#add-image').removeClass('fas fa-location-slash text-danger');
            $('#add-image').addClass('fa fa-plus');
        }
    }

    //check if whole sale, enable whole sale quantity
    $(document).ready(function () {
        $('#product_type').click(function () {
            if ($(this).prop("checked") == true) {
                $("#whole_sale_quantity").prop('disabled', false);
                $("#whole_sale_quantity").prop('required', true);
            }
            else if ($(this).prop("checked") == false) {
                $("#whole_sale_quantity").prop('disabled', true);
                $("#whole_sale_quantity").prop('required', false);
            }
        });
    });
</script>



<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    @await Html.PartialAsync("~/Views/Shared/AccountLayout/_LeftSideBar.cshtml")
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">

        <!-- //Top menu item -->
        @await Html.PartialAsync("~/Views/Shared/AccountLayout/_NavBarTop.cshtml")


        <div class="container-fluid">
            <h1 class="mt-4">
                Post New Product
            </h1>

            <!-- //Breadcrump -->
            @await Html.PartialAsync("~/Views/Shared/_BreadCrumb.cshtml")

            <!--row-->
            <div class="row justify-content-center mb-4">
                <div class="col-12">
                    <form asp-controller="Account" asp-action="NewPost" id="newProductForm" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row jumbotron border border-dark m-2">
                            <div class="col-sm-6 form-group">
                                <label asp-for="ProductName" class="font-weight-bold h5"></label>
                                <input asp-for="ProductName" class="form-control" required>
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label asp-for="ProductDescription" class="font-weight-bold h5"></label>
                                <input asp-for="ProductDescription" class="form-control" required>
                                <span asp-validation-for="ProductDescription" class="text-danger"></span>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label asp-for="ProductType" class="font-weight-bold h5"></label>
                                <select class="form-control custom-select" asp-for="ProductName" required>
                                    <option value="1" class="text-white bg-dark">
                                        Whole Sale
                                    </option>
                                    <option value="0" class="text-white bg-dark">
                                        Retail
                                    </option>
                                </select>
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                            <div class="col-sm-3 form-group">
                                <label asp-for="WholeSaleQuantity" class="font-weight-bold h5"></label>
                                @*<input asp-for="WholeSaleQuantity" class="form-control" readonly required>*@
                                <input class="form-control" name="WholeSaleQuantity" id="WholeSaleQuantity" readonly>
                                <span asp-validation-for="WholeSaleQuantity" class="text-danger"></span>
                            </div>
                            <div class="col-sm-2 form-group">
                                <label asp-for="Currency" class="font-weight-bold h5"></label>
                                <select asp-for="Currency" class="form-control custom-select" asp-items="@( new SelectList(@ViewBag.CurrencyList,"Code","Code"))">
                                </select>
                                <span asp-validation-for="Currency" class="text-danger"></span>
                            </div>
                            <div class="col-sm-2 form-group">
                                <label asp-for="ProductPrice" class="font-weight-bold h5"></label>
                                <input asp-for="ProductPrice" class="form-control" required>
                                <span asp-validation-for="ProductPrice" class="text-danger"></span>
                            </div>
                            <div class="col-sm-2 form-group">
                                <label asp-for="ProductPreviousPrice" class="font-weight-bold h6"></label>
                                <input asp-for="ProductPreviousPrice" class="form-control" required>
                                <span asp-validation-for="ProductPreviousPrice" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label asp-for="CategoryID" class="font-weight-bold h5"></label>
                                <select asp-for="CategoryID" class="form-control custom-select" asp-items="@( new SelectList(@ViewBag.CategoryList,"ID","CategoryName"))">
                                </select>
                                <span asp-validation-for="CategoryID" class="text-danger"></span>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label asp-for="StoreID" class="font-weight-bold h5"></label>
                                <select asp-for="StoreID" class="form-control custom-select" asp-items="@( new SelectList(@ViewBag.StoresList,"ID","StoreName"))">
                                </select>
                                <span asp-validation-for="StoreID" class="text-danger"></span>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label asp-for="ProductTags" class="font-weight-bold h5"></label>
                                <input asp-for="ProductTags" class="form-control" required>
                                <span asp-validation-for="ProductTags" class="text-danger"></span>
                            </div>
                            <br>
                            <!-- container -->
                            <div class="container">
                                <label class="font-weight-bold h5">Product Images</label>
                                <div class="row">
                                    <div class="col-sm-2 imgUp">
                                        <div class="imagePreview"></div>
                                        <label class="btn btn-primary upload-btn-primary">
                                            Upload<input type="file" class="uploadFile img" name="ProductImages" id="ProductImages" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                        </label>
                                    </div><!-- col-2 -->
                                    <i class="fa fa-plus imgAdd" onclick="checkUpLimit()" id="add-image"></i>
                                </div><!-- row -->
                            </div>
                            <!-- //container -->

                            <div class="col-sm-12 form-group">
                                <div class="row">
                                    <div class="col-3 offset-9">
                                        <a href="~/Account/ManagePosts" class="btn btn-danger m-3">
                                            <i class="fas fa-chevron-left"></i> Cancel
                                        </a>
                                        <button type="submit" class="btn btn-primary">
                                            <i class="far fa-paper-plane"></i> Submit
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <!--/row-->
        </div>

    </div>

    <script>
        $("#newProductForm").validate();
    </script>

</div>



<!-- Account Modals -->
@await Html.PartialAsync("~/Views/Shared/AccountLayout/_AccountModals.cshtml")