@model ModestLiving.Models.ProductsModel
@using AppHelpers.App_Code

<div class="col-md-6">
    <img src="~/files/@ProductsHelper.GetProductImageLink(Model.AccountID, Model.ID)" alt="Image" class="img-fluid pr-main-img zoom-xm" width="480" height="600">
    <div class="row mt-2">
        @foreach (var images in ViewBag.ProductImages)
        {
            <div class="col-3">
                <img src="~/files/@ProductsHelper.GetProductImageLink(Model.AccountID, Model.ID, images.ImageLink)" class="rounded pr-sub-img zoom-xm" alt="image-title" width="125" height="150">
            </div>
        }
        @foreach (var videos in ViewBag.ProductVideos)
        {
            <div class="col-12">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item zoom-xm" src="~/files/@ProductsHelper.GetProductVideoLink(Model.AccountID, Model.ID, videos.VideoLink)" width="480" height="600">

                    </iframe>
                </div>
            </div>
        }
    </div>
</div>
<div class="col-md-6">
    <h2 class="text-black">
        @ViewData["Title"].ToString().ToUpper()
    </h2>
    <p>@Html.DisplayFor(model => model.ProductDescription)</p>
    <p><strong class="text-primary h4">GMD @Html.DisplayFor(model => model.ProductPrice)</strong></p>
    <div class="mb-1 d-flex">
        @foreach (var sizes in ViewBag.ProductSizes)
        {
            <label for="option-sm" class="d-flex mr-3 mb-3">
                <span class="d-inline-block mr-2" style="top:-2px; position: relative;">
                    <input type="radio" id="option-sm" name="shop-sizes" value="@sizes.Size">
                </span> 
                <span class="d-inline-block text-black">@ProductsHelper.GetSizeName(sizes.Size)</span>
            </label>

        }
    </div>
    <div class="mb-1 d-flex">
        <div class="radio-input">
            <h4>Select Color</h4>
            @foreach (var colors in ViewBag.ProductColors)
            {
                <input type="radio" name="color" id="@colors.ColorName" value="@colors.ColorName" />
                <label for="@colors.ColorName"><span class="@TextHelper.ConvertCase(@colors.ColorName, "Lower")"></span></label>

            }
        </div>
    </div>
    <div class="mb-5">
        <div class="input-group mb-3" style="max-width: 120px;">
            <div class="input-group-prepend">
                <button class="btn btn-outline-primary js-btn-minus update-quantity" type="button">&minus;</button>
            </div>
            <input type="text" class="form-control text-center" id="total-quantity" name="total-quantity" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="input-group-append">
                <button class="btn btn-outline-primary js-btn-plus update-quantity" type="button">&plus;</button>
            </div>
        </div>

    </div>
    <p>
        <a href="#" class="buy-now btn btn-sm btn-primary cart-btn" data-product-id="@Model.ID" data-product-name="@Model.ProductName" data-product-price="@Model.ProductPrice" data-product-quantity="1" data-product-image="/files/@ProductsHelper.GetProductImageLink(Model.AccountID, Model.ID)">
            Add To Cart
        </a>
    </p>

</div>