
@{
    ViewData["Title"] = "Test";
}

<h1>Device : @ViewBag.device</h1>
<h1>Browser : @ViewBag.browser</h1>
<h1>Platform : @ViewBag.platform</h1>
<h1>Engine : @ViewBag.engine</h1>
<h1>IP : @ViewBag.ip</h1>
<h1>Country : @ViewBag.country</h1>
<h1>View Log : @ViewBag.view</h1>
<h1>Session : @ViewBag.session</h1>